* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
}

.mainContainer {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) ), url('C:\Users\Alex\Desktop\asd\react\weather-widget\src\assets\default.jpg');
  background-size: cover;
  background-position: top center;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
}